@import "tailwindcss";

@font-face {
  font-family: "CircularStd-Book";
  src: url("./assets/font/CircularStd-Book.woff") format("opentype");
}

@theme {
    --font-primary: "CircularStd-Book", serif;
}

.scrollbar-none::-webkit-scrollbar {
    display: none;
}
